<div class="container home">
  <div class="header">
    <h1>Browse for your next pest controller</h1>
  </div>
  <div class="grid">
	  <% @pets.each do |pet| %>
	    <%= render pet %>
	  <% end %>
   </div>
</div>
