.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(45deg, #436d3693, #b8c996c5);
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
