.pet-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;
  color: #000;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    background-position 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    transform: scale(1.005);
  }

  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    padding-bottom: 10px;
  }

  .pet-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .btn {
    z-index: 3;
  }

  h2 {
    font-size: larger;
    font-weight: bolder;
    color: #fff;
  }

  p {
    color: rgb(67, 67, 67);
    justify-content: flex-start;
  }
}

.pet-details {
  max-width: 30ch;
  margin: 0 auto;
}
